@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Personel Web Sitesi</b></h1>
</div>
<div>
    <br />
    <img src="~/images/personelresim.png" class="img-responsive mx-auto d-block" alt="Responsive image" style="width:50%" />

</div>
<div class="text-center">
    <a class="btn btn-info btn-lg" role="button" asp-area="" asp-action="Index" asp-controller="Personel">Personel Sayfası Giriş</a>
</div>

